<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<h3>MAKE A NEW ROUTE TO SHOW "Event Hosted By You"</h3>

<%if @events.present? %>
  <% @events.each do |event| %>
      <%= link_to "#{event.event_title}", event_path(event.id) %> <br>
  <% end %>
<% else %>
  <p>Would you like to <%= link_to "Add Event", new_event_path %></p>
<% end %>