<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<% if current_user.role == "admin" %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
<% end %>

<%if @events.present? %>
  <h3>Event Hosted By You</h3>
  <% @events.each do |event| %>
      <%= link_to "#{event.event_title}", event_path(event.id) %> <br>
  <% end %>
<% else %>
  <p>You do not have any events hosted yet.</p>
  <p>Would you like to <%= link_to "Add Event", new_event_path %></p>
<% end %>