<h1>Events Listed</h1>

<%= link_to "All Events", events_path %>
<%= simple_form_for :search, url: events_path, method: "GET" do |f| %>
  <%= f.input :event_title, input_html: {value: ""}, placeholder: "Event Title" %>   
  <%= f.input :description, input_html: {value: ""}, placeholder: "Event Description" %>
  <%= f.input :date, :as => :date, html5: true, input_html: {value: ""} %>
  <%= f.submit "Search" %>
<% end %>

<% if !@events.present? %>
  <p>Sorry we do not have any events closest to the chosen date.</p>
<% else %>
  <p>Here are the dates for our events we have currently. You may search for different dates above.</p>
<% end %>

<% @events.each do |event| %>
    <div>
        <h3>Event Title : </h3> <p> <%= link_to "#{event.event_title}", event_path(event.id) %> </p>
        <h3>Location :</h3> <p> <%= event.location %> </p>
        
        <% if event.start_time.strftime("%m-%d-%Y") == event.end_time.strftime("%m-%d-%Y") %>
            <h3>Date :</h3> <p> <%= event.start_time.strftime("%m-%d-%Y") %> </p>
        <% else %>
            <h3>Date from:</h3> <p> <%= event.start_time.strftime("%m-%d-%Y") %> </p>
            <h3>Date till:</h3> <p> <%= event.end_time.strftime("%m-%d-%Y") %> </p>
        <% end %>

        <h3>Start :</h3> <p> <%= event.start_time.strftime("%I:%M %p") %> </p>
        <h3>End : </h3> <p> <%= event.end_time.strftime("%I:%M %p") %> </p>
        <h3> Description : </h3> <%= event.description %>
    </div>
    <hr>
<% end %>