<h1>Show Page</h1>

<div>
    <h3>Event Title : </h3> <p> <%= @event.event_title %> </p>
    <h3>Location :</h3> <p> <%= @event.location %> </p>
    <h3>Date :</h3> <p> <%= @event.date %> </p>
    <h3>Start :</h3> <p> <%= @event.start_time.strftime("%I:%M %p") %> </p>
    <h3>End : </h3> <p> <%= @event.end_time.strftime("%I:%M %p") %> </p>
    <h3> Description : </h3> <%= @event.description %>
</div>